<%= turbo_stream_from @game %>
<%= turbo_stream_from current_user %>

<div class="container d-flex justify-content-center align-items-center flex-column"
    data-controller="game" 
    data-game-game-id-value="<%= @game.id %>"
    data-game-participant-id-value="<%= current_user.id %>">

  <div id="<%= dom_id(@game) %>">
    <% if @game.lobby? %>
      <h3>Waiting for players</h3>
      
      <div id="players">
        <%= render "games/players", participations: @game.user_games %>
      </div>

      <%= link_to "Start Game", start_game_path, data: { turbo_method: :post } %>
    <% else %>
      <%= render 'games/question', question: @question, game: @game, participant: nil %>
    <% end %>

    <div id="answer"></div>
  </div>
</div>
